# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.d

# Compiled Static libraries
*.lai
*.la
*.a

# executables
*.exe
*.pyc

# h2gglobe specifics
LoopAllDict.*
dict.*
TmpLinkDef.h
.extraTags
Reduction/pileup/
Reduction/*summary.txt

# Ignore links in Reduction directory
Reduction/AnalysisScripts
Reduction/Macros

# vim temp files
*.swp

# batch .tgz
*.tgz
*.tar.gz
